@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: oklch(0.19 0 0);
  --color-base-200: oklch(0.16 0 0);
  --color-base-300: oklch(0.08 0 0);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(1 0 0);
  --color-primary-content: oklch(0 0 0);
  --color-secondary: oklch(0 0 0);
  --color-secondary-content: oklch(1 0 0);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(0.95 0.08 89.11);
  --color-warning-content: oklch(0 0 0);
  --color-error: oklch(0.69 0.21 20.53);
  --color-error-content: oklch(1 0 0);
  --radius-selector: 0.15rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --color-paper: oklch(0.16 0 0);
  --color-paper-background: oklch(0.18 0 0);
  --color-paper-effect: oklch(0.38 0.01 0 / 5%);
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;
  --color-base-100: oklch(0.96 0 0);
  --color-base-200: oklch(0.98 0 0);
  --color-base-300: oklch(1 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(0 0 0);
  --color-primary-content: oklch(1 0 0);
  --color-secondary: oklch(1 0 0);
  --color-secondary-content: oklch(0 0 0);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(0.8 0.13 78.1);
  --color-warning-content: oklch(0 0 0);
  --color-error: oklch(0.56 0.25 27.57);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.15rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --color-paper: oklch(1 0 0);
  --color-paper-background: oklch(1 0 0);
  --color-paper-effect: oklch(0.87 0.01 0 / 5%);
}
